$light-color: #F8F8F8;
$light-color-text-dark: rgb(39, 39, 39);
$light-color-text-light: #858585;

$primary-color: #8A0E18;
$primary-color-text-dark: #aaaaaa;
$primary-color-text-light: #F8F8F8;



$title-font: Montserrat;
$text-font:Segoe UI Light;


body{
margin: 0;
padding: 0;
}

header{
  background: $primary-color;
  margin: 0;
  width: 100vw;
  position: relative;
  h1{
    padding: 1rem;
    color:$primary-color-text-light;
    font-family: Montserrat;
    margin: 0 0 0 0;
    display: inline-block;
  }
  nav{
    right: 10px;
    display: inline-block;
    float: right;
    padding: 1em;
  }
  ul{
    
    margin: 0;
    padding-bottom: 1rem;
    
  }
  li{
      list-style: none;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      a{
        color: $primary-color-text-light;
        text-decoration: none;
      }
  }
}

.hero {
    .background-img{
      background: url("/images/lpu2.jpg") no-repeat;
      background-size: cover;
      background-position: center;
      padding: 1.5rem;
      position: absolute;
      left: 0;
      right: 0;
    }
    .content{
      position: relative;
      left: 0;
      right: 0;
      height: inherit;
      width: inherit;
      backdrop-filter: blur(5px); 
     
    }
    h1{
      margin: 0 0 0 0;
      padding: 1rem 0 1rem 13rem;
      font-family: $text-font;
      font-size: 1.5rem;
      color: $primary-color-text-light;
      position: relative;
    }
} //end of hero section

.control-panel{
  font-family: $text-font;
  .container{
    position: relative;
    margin: 1em 4em 1em 15em;
  }
  iframe {
    position: fixed;
    width: 1100px;
    height: 73vh;
  }



}// end of control-panel



