$light-color: #F8F8F8;
$light-color-text-dark: rgb(39, 39, 39);
$light-color-text-light: #858585;

$primary-color: #8A0E18;
$primary-color-text-dark: #aaaaaa;
$primary-color-text-light: #F8F8F8;



$title-font: Montserrat;
$text-font:Segoe UI Light;


body{
margin-top: 0;
margin-bottom: 0;
}

header{
  background: $primary-color;
  margin: 0px -8px 0px -8px;
  h1{
    padding: 1rem;
    color:$primary-color-text-light;
    font-family: Montserrat;
    margin: 0 0 0 0;
  }
  ul{
    margin: 0;
    padding-bottom: 1rem;
  }
  li{
      list-style: none;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      a{
        color: $primary-color-text-light;
        text-decoration: none;
      }
  }
}

.hero {
  .container{
    
    .background-img{
      background: url("/images/lpu2.jpg") no-repeat;
      background-size: cover;
      background-position: center;
      padding: 3rem;
      filter: blur(2px);
      position: absolute;
      left: 0;
      right: 0;
    }
    .content{
      position: absolute;
      left: 0;
      right: 0;
    }
    h1{
      margin: 0 0 0 0;
      padding: 1rem 0 0 3rem;
      font-family: $text-font;
      font-size: 3em;
      color: $primary-color-text-light;
      position: relative;
    }
  }
  
 
  
  
}

.reports-field{
  font-family: $text-font;
  .container{
    margin: 1em 4em 1em 4em;
  }
}

footer{
  .school-info-container .logo-address-container .img-logo img{
    width: 80px;
    margin: 40px 20px 0 0;
  }
}


