/* Global Css */
body{
    margin: 0;
    padding:0;
    background: #F8F8F8;
    text-align: center;
    font-family: Montserrat;
}

/* Form CSS */
.form-container{
    width: 586px;
    height: 580;
    margin: 10% auto;
    padding: 5%;
    background: white;
    border-radius: 8px;
    box-shadow: 3px 3px  10px rgba(12, 12, 12, 0.472);
}

input[type=text], select, input[type=date], input[type=num], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 5% 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
  }


input[type=button]{
    margin-left: 80%;
    padding: 12px 30px;
    font-size: 19px;
    font-weight: bold;
    color: white;
    background-color: #A22630;
    border:none;
    border-radius: 3px;
}
input[type=button]:hover{
    background-color: #C54A54;
}
.radio-btn{
    text-align: left;
}

input[type=radio]{
    display: inline-block;
    /* opacity: 0; */
    cursor: pointer;
    height: 25px;
    width: 25px;
  
    
}

/* Active  baguhin color ng border sa active state*/

    


/* header CSS */
header{
background-color: #A22630;
text-align: left;
padding: 10px;
}

img{
    width: 119px;
    height: 127px;   
}

.flexbox-wrapper{
display: flex;
align-items: center;

}
.header-text{
margin-left: 30px;
color: white;

}
