<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" href="styles/main.css">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    
    <header>
        <h1>LPU Student Satisfaction Survey</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin/logout">Log out</a></li>
            </ul>         
        </nav>
    </header>

    
    <section class="hero">
        <div class="container">
            <div class="background-img"></div>
            <div class="content"><h1>Hello, <%= name%> </h1></div>
        </div>
    </section>

    <section class="control-panel">
        <div class="container">
            <p>hello, this is the control panel text</p>
        </div>

        
        <div class="container">
            <div class="reports">
                <iframe width=1000px height=1000px src="https://datastudio.google.com/embed/reporting/3f2e4efc-cb11-44d1-b221-d6de911fc883/page/hySYB" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </section>


    
    
</body>

</html>