<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" href="styles/main.css">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    
    <header>
        <h1>LPU Student Satisfaction Survey</h1>
        <nav>
                <ul>
                    <li><a href="/admin/logout">logout</a></li>
                </ul>
        </nav>
    </header>

    
    <section class="hero">
        <div class="container">
            <h1>Hello, <%= name%> </h1>
        </div>
    </section>

    <section class="">

    </section>


    
    <footer>
        <div class="school-info-container">
            <div class="logo-address-container">
                <div class="img">
                    <img src="../images/pics/logo.png" alt="school-logo">
                </div>
                <div class="address">
                    <h3>LPU Cavite Campus</h3>
                    <p>Governor's Drive,</p>
                    <p>Barangay Manggahan,</p>
                    <p>General Trias,</p>
                    <p>Cavite,</p>
                    <p>Philippines</p>

                    <div class="extra-info">
                        <ul>
                            <li>
                                <a href=" ">Copyright</a>
                            </li>
                            <li>
                                <a href=" ">Privacy</a>
                            </li>
                            <li>
                                <a href=" ">Policies</a>
                            </li>
                            <li>
                                <a href=" ">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="social-media-container">
                <h3>Follow us:</h3>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/LPUCavite/">
                            <img src="/images/svg/fb-wht.svg" alt="fb-icon">
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/LPUCavite">
                            <img src="/images/svg/twitter-wht.svg" alt="twitter-icon">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/lpu_cavite/?hl=en">
                            <img src="/images/svg/ig-wht.svg" alt="ig-icon">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="creators-container">
                <h3>Created by:</h3>
                <p>Matthew A. Alivio</p>
                <p>John Mark M. Cacho</p>
                <p>John Warren C. Dela Peña</p>
                <p>Karl Glenn M. Eludo</p>
                <p>Franz S. Valois</p>
            </div>

        </div>
    </footer>
</body>

</html>