<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
</head>
<body>
    <!-- header TODO : templates for modular header-->
    <header>
        <!-- header nav -->
        <nav>
            <ul>
                <li>header item01</li>
            </ul>
        </nav>
    </header>

    <!-- hero -->
    <section class="hero">

    </section>

    <!-- CRUD main field -->
    <section class="CRUD">

        <nav>
        <!-- navigation -->
            <ul>
                <li>nav item01</li>
            </ul>
        </nav>
    </section>

    <!-- footer TODO : templates for modular footer-->
    <footer>

        <nav>
            <!-- footer nav -->
            <ul>
                <li>footer item01</li>
            </ul>
        </nav>
    </footer>
</body>
</html>
