<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    All done!
    <script src="/scripts/finish.js" charset="utf-8"></script>
  </body>
</html>
