<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Satisfaction Survey Home</title>
    <!-- css -->
    <link rel="stylesheet" href="/styles/landing.css">
    <!-- icon library  ayaw gumana ng ibang icons wtf-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="flexbox-wrapper">
            <img src="images/rogo.png" alt="">
            <div class="header-text">
                <H1>LYCEUM OF THE PHILIPPINES</H1>
                <h3>CAVITE CAMPUS</h3>
            </div>
        </div>
    </header>

    <div class="form-container">
        <div class="form-text">
            <p>Welcome to the Student Satisfaction Survey of Lyceum of the Philippines University-Cavite. This is very easy to complete and will only take few minutes of your time. This is an opportunity for you to tell us what you like about your stay with LPU and what or feel could be improved. 
                The data from this survey will be used to better understand and respond to what you need and want about the services and programs of the University.</p>    
            <p>By submitting a response to this form, I hereby acknowledge that i have carefully read and understooed the Terms and Conditions of the Data Privacy
                Policy/Note of the Lyceum of the Philippines University Cavite Campus (LPU-C).By providing personal information to LPU-C, I am confirming that the data is true and correct. I understand that LPU-C reserves any desicions made on the basis of information I provided should
                the information be found to be untrue or incorrect. I likewise agree that may arise in connection with processing of my personal information will be settled amicably with LPU-U before resorting to appropriate arbitation or court proceedings within the Philippine jurisdriction.
                Finally, I am providing my voluntary consent and authorization to LPU-C and its authorized representatives to lawfully process my data/information.
            </p>
            <a href="" class="cta-begin">Begin Survey <i class="fas fa-arrow-right"></i></a> 
        </div>
    </div>
    
    <div class="footer-container">
        footer?
    </div>

        

</body>
</html>