<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQuartic: Sentiment Analysis of Student Satisfaction Survey</title>
    <link rel="stylesheet" href="/styles/landing.min.css">
</head>
<body>
    <div class="grid-container">
        <main>
            <h3>SQuartic</h3>

            <div class="heading">
                <p class="p1">Student Satisfaction Survey</p>
                <p class="p2">We listen to your concerns</p>
                <p class="p3">-Guidance and Testing Center</p>
                <button id="cta-start" class="cta-start">Start Survey</button>
            </div>
        </main>
        <footer class="footer-landing"> <span>Created By:</span>
            <p>Matthew A. Alivio</p>
            <p>John Mark M. Cacho</p>
            <p>John Warren C. Dela Peña</p>
            <p>Karl Glenn M. Eludo</p>
            <p>Franz S. Valois</p>
        </footer>
        <div class="background">
            <nav>
                <ul>
                    <li>
                        <a href=" " class="home">Home</a>
                    </li>
                    <li>
                        <a href=" " class="about">About</a>
                    </li>
                    <!-- <li>
                        <a href=" " class="burger"><img src="../images/svg/hamburger.svg" alt="menu-icon"></a>
                    </li> -->
                </ul>
            </nav>
        </div>
    </div>

<!-- Jquery and Javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/scripts/landing.js"></script>

</body>
</html>
