<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/page2.min.css">

</head>

<body>
  <div class="grid-container">
    <header class="flexbox-wrapper">
      <div>
        <img src="/images/pics/logo.png" alt="LPU-PH-LOGO">
      </div>
      <div class="header-text">
        <H1>LYCEUM OF THE PHILIPPINES</H1>
        <h3>CAVITE CAMPUS</h3>
      </div>
    </header>

    <form action="" method="POST">
      <!-- Academic Program Table -->
      <table class="table table-responsive table-academic-program">
        <!-- table header -->
        <thead>
          <tr>
            <th>Academic Program</th>
            <th>5</th>
            <th>4</th>
            <th>3</th>
            <th>2</th>
            <th>1</th>
          </tr>
        </thead>
        <!-- table questions -->
        <tr>
          <td>
            <div class="align">
              <span>a.</span>
              <p>Subjects in the curriculum are appropriate to chosen program.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question1" id="radio-btn1" value="5">
          </td>
          <td>
            <input type="radio" name="radio-question1" id="radio-btn2" value="4">
          </td>
          <td>
            <input type="radio" name="radio-question1" id="radio-btn3" value="3">
          </td>
          <td>
            <input type="radio" name="radio-question1" id="radio-btn4" value="2">
          </td>
          <td>
            <input type="radio" name="radio-question1" id="radio-btn5" value="1">
          </td>

        </tr>
        <tr>
          <td>
            <div class="align">
              <span>b.</span>
              <p>References and other course materials are adequate, updated, clear and concise.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question2" id="radio-btn6" required>
          </td>
          <td>
            <input type="radio" name="radio-question2" id="radio-btn7">
          </td>
          <td>
            <input type="radio" name="radio-question2" id="radio-btn8">
          </td>
          <td>
            <input type="radio" name="radio-question2" id="radio-btn9">
          </td>
          <td>
            <input type="radio" name="radio-question2" id="radio-btn10">
          </td>

        </tr>
        <tr>
          <td>
            <div class="align">
              <span>c.</span>
              <p>I can participate by giving comments and suggestions relevant to the course.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question3" id="radio-btn11" required>
          </td>
          <td>
            <input type="radio" name="radio-question3" id="radio-btn12">
          </td>
          <td>
            <input type="radio" name="radio-question3" id="radio-btn13">
          </td>
          <td>
            <input type="radio" name="radio-question3" id="radio-btn14">
          </td>
          <td>
            <input type="radio" name="radio-question3" id="radio-btn15">
          </td>

        </tr>
        <tr>
          <td>
            <div class="align">
              <span>d.</span>
              <p>Course syllabus is well-organised, implemented and followed.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question4" id="radio-btn16" required>
          </td>
          <td>
            <input type="radio" name="radio-question4" id="radio-btn17">
          </td>
          <td>
            <input type="radio" name="radio-question4" id="radio-btn18">
          </td>
          <td>
            <input type="radio" name="radio-question4" id="radio-btn19">
          </td>
          <td>
            <input type="radio" name="radio-question4" id="radio-btn20">
          </td>
        </tr>

        <tr>
          <td>
            <div class="align">
              <span>e.</span>
              <p>Requirements and workloads are practical and manageable.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question5" id="radio-btn21" required>
          </td>
          <td>
            <input type="radio" name="radio-question5" id="radio-btn22">
          </td>
          <td>
            <input type="radio" name="radio-question5" id="radio-btn23">
          </td>
          <td>
            <input type="radio" name="radio-question5" id="radio-btn24">
          </td>
          <td>
            <input type="radio" name="radio-question5" id="radio-btn25">
          </td>
        </tr>

        <tr>
          <td>
            <div class="align">
              <span>f.</span>
              <p>Course syllabus is well-organised, implemented and followed.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question6" id="radio-btn26" required>
          </td>
          <td>
            <input type="radio" name="radio-question6" id="radio-btn27">
          </td>
          <td>
            <input type="radio" name="radio-question6" id="radio-btn28">
          </td>
          <td>
            <input type="radio" name="radio-question6" id="radio-btn29">
          </td>
          <td>
            <input type="radio" name="radio-question6" id="radio-btn30">
          </td>
        </tr>
      </table>
      <!-- Learning and Teaching Methods Table -->
      <table class="table table-responsive table-teaching-learning">
        <!-- table header -->
        <thead>
          <tr>
            <th>Learning and Teaching Methods</th>
            <th>5</th>
            <th>4</th>
            <th>3</th>
            <th>2</th>
            <th>1</th>
          </tr>
        </thead>
        <!-- table questions -->
        <tr>
          <td>
            <div class="align">
              <span>a.</span>
              <p>Grading policy is clear and communicated at the start of semester.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question7" id="radio-btn31" required>
          </td>
          <td>
            <input type="radio" name="radio-question7" id="radio-btn32">
          </td>
          <td>
            <input type="radio" name="radio-question7" id="radio-btn33">
          </td>
          <td>
            <input type="radio" name="radio-question7" id="radio-btn34">
          </td>
          <td>
            <input type="radio" name="radio-question7" id="radio-btn35">
          </td>
        </tr>

        <tr>
          <td>
            <div class="align">
              <span>b.</span>
              <p>Feedback is provided in order to improve my work.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question8" id="radio-btn36" required>
          </td>
          <td>
            <input type="radio" name="radio-question8" id="radio-btn37">
          </td>
          <td>
            <input type="radio" name="radio-question8" id="radio-btn38">
          </td>
          <td>
            <input type="radio" name="radio-question8" id="radio-btn39">
          </td>
          <td>
            <input type="radio" name="radio-question8" id="radio-btn40">
          </td>
        </tr>

        <tr>
          <td>
            <div class="align">
              <span>c.</span>
              <p>Professors showed mastery of the subject matter.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question9" id="radio-btn41" required>
          </td>
          <td>
            <input type="radio" name="radio-question9" id="radio-btn42">
          </td>
          <td>
            <input type="radio" name="radio-question9" id="radio-btn43">
          </td>
          <td>
            <input type="radio" name="radio-question9" id="radio-btn44">
          </td>
          <td>
            <input type="radio" name="radio-question9" id="radio-btn45">
          </td>
        </tr>

        <tr>
          <td>
            <div class="align">
              <span>d.</span>
              <p>Professors are enthusiastic and they use effective teaching strategies.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question10" id="radio-btn46" required>
          </td>
          <td>
            <input type="radio" name="radio-question10" id="radio-btn47">
          </td>
          <td>
            <input type="radio" name="radio-question10" id="radio-btn48">
          </td>
          <td>
            <input type="radio" name="radio-question10" id="radio-btn49">
          </td>
          <td>
            <input type="radio" name="radio-question10" id="radio-btn50">
          </td>
        </tr>

        <tr>
          <td>
            <div class="align">
              <span>e.</span>
              <p>Concepts are discussed and explained well by professors.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question11" id="radio-btn51" required>
          </td>
          <td>
            <input type="radio" name="radio-question11" id="radio-btn52">
          </td>
          <td>
            <input type="radio" name="radio-question11" id="radio-btn53">
          </td>
          <td>
            <input type="radio" name="radio-question11" id="radio-btn54">
          </td>
          <td>
            <input type="radio" name="radio-question11" id="radio-btn55">
          </td>
        </tr>

        <tr>
          <td>
            <div class="align">
              <span>f.</span>
              <p>Professors are committed and are available for consultation.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question12" id="radio-btn56" required>
          </td>
          <td>
            <input type="radio" name="radio-question12" id="radio-btn57">
          </td>
          <td>
            <input type="radio" name="radio-question12" id="radio-btn58">
          </td>
          <td>
            <input type="radio" name="radio-question12" id="radio-btn59">
          </td>
          <td>
            <input type="radio" name="radio-question12" id="radio-btn60">
          </td>
        </tr>

        <tr>
          <td>
            <div class="align">
              <span>g.</span>
              <p>Instructional materials are appropriate for learning.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question13" id="radio-btn61" required>
          </td>
          <td>
            <input type="radio" name="radio-question13" id="radio-btn62">
          </td>
          <td>
            <input type="radio" name="radio-question13" id="radio-btn63">
          </td>
          <td>
            <input type="radio" name="radio-question13" id="radio-btn64">
          </td>
          <td>
            <input type="radio" name="radio-question13" id="radio-btn65">
          </td>
        </tr>

        <tr>
          <td>
            <div class="align">
              <span>h.</span>
              <p>Professional relationships with students are maintained.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question14" id="radio-btn66" required>
          </td>
          <td>
            <input type="radio" name="radio-question14" id="radio-btn67">
          </td>
          <td>
            <input type="radio" name="radio-question14" id="radio-btn68">
          </td>
          <td>
            <input type="radio" name="radio-question14" id="radio-btn69">
          </td>
          <td>
            <input type="radio" name="radio-question14" id="radio-btn70">
          </td>
        </tr>

      </table>
      <div class="checkbox-container">
        <div class="column1">
          <div class="align">
            <input type="checkbox" name="checkbox1" id="checkbox1" value="The over-all reputation">
            <label for="checkbox1">The over-all reputation</label>
          </div>
          <div class="align">
            <input type="checkbox" name="checkbox2" id="checkbox2" value="Research focus">
            <label for="checkbox2">Research focus</label>
          </div>
          <div class="align">
            <input type="checkbox" name="checkbox3" id="checkbox3" value="Curriculum or the content of the course">
            <label for="checkbox3">Curriculum or the content of the course</label>
          </div>
          <div class="align">
            <input type="checkbox" name="checkbox4" id="checkbox4" value="Financial assistance is provided">
            <label for="checkbox4">Financial assistance is provided</label>
          </div>
          <div class="align">
            <input type="checkbox" name="checkbox5" id="checkbox5" value="Payment Flexibility">
            <label for="checkbox5">Payment Flexibility</label>
          </div>
          <div class="align">
            <input type="checkbox" name="checkbox6" id="checkbox6" value="Quality of teaching of professors">
            <label for="checkbox6">Quality of teaching of professors</label>
          </div>
          <div class="align">
            <input type="checkbox" name="checkbox7" id="checkbox7" value="Student Services">
            <label for="checkbox7">Student Services</label>
          </div>
        </div>

        <div class="column2">
          <div class=align>
            <input type="checkbox" name="checkbox8" id="checkbox8" value="Reputation of my chosen course">
            <label for="checkbox8">Reputation of my chosen course</label>
          </div>
          <div class=align>
            <input type="checkbox" name="checkbox9" id="checkbox9" value="Location">
            <label for="checkbox9">Location</label>
          </div>
          <div class=align>
            <input type="checkbox" name="checkbox10" id="checkbox10" value="It was recommended to me">
            <label for="checkbox10">It was recommended to me</label>
          </div>
          <div class=align>
            <input type="checkbox" name="checkbox11" id="checkbox11" value="The cost of the course">
            <label for="checkbox11">The cost of the course</label>
          </div>
          <div class=align>
            <input type="checkbox" name="checkbox12" id="checkbox12" value="Good career opportunities">
            <label for="checkbox12">Good career opportunities</label>
          </div>
          <div class=align>
            <input type="checkbox" name="checkbox13" id="checkbox13" value="Facilities">
            <label for="checkbox13">Facilities</label>
          </div>
          <!-- checkbox14 kasi para pag ni loop ng js pero hindi pa ako sure hehi -->
          <div>
            <div class="textarea">
              <label for="textarea">Others, Please Specify</label>
              <textarea id="textarea" rows="1" cols="50"></textarea>
            </div>
          </div>

        </div>

      </div>

      <!-- #FIXME masyado malaki button kumpara sa iba -->
      <input type="button" value="Next" id="cta-next">
    </form>
    <footer class="footer-p1">
      <span>Created By:</span>
      <p>Matthew A. Alivio</p>
      <p>John Mark M. Cacho</p>
      <p>John Warren C. Dela Peña</p>
      <p>Karl Glenn M. Eludo</p>
      <p>Franz S. Valois</p>
    </footer>
  </div>

  <!-- Jquery and Javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/scripts/form-iterator.js" charset="utf-8"></script>
  <script src="/scripts/Qa.js" charset="utf-8"></script>
  <script src="/scripts/page2.js"></script>
</body>

</html>