<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/page3.min.css">

</head>

<body>
  <div class="grid-container">
    <header class="flexbox-wrapper">
      <div>
        <img src="/images/pics/logo.png" alt="LPU-PH-LOGO">
      </div>
      <div class="header-text">
        <H1>LYCEUM OF THE PHILIPPINES</H1>
        <h3>CAVITE CAMPUS</h3>
      </div>
    </header>
    <form action="" method="POST">
      <!-- Support Table -->
      <table class="table table-responsive table-support">
        <!-- table header -->
        <thead>
          <tr>
            <th>Support</th>
            <th>5</th>
            <th>4</th>
            <th>3</th>
            <th>2</th>
            <th>1</th>
          </tr>
        </thead>
        <!-- table questions -->
        <tr>

          <td>
            <div class="align">
              <span>a.</span>
              <p>Health, welfare and conselling services are accessible.</p>
            </div>
          </td>
          <td>
            <input type="radio" name="radio-question1" id="radio-btn1" required>
          </td>
          <td>
            <input type="radio" name="radio-question1" id="radio-btn2">
          </td>
          <td>
            <input type="radio" name="radio-question1" id="radio-btn3">
          </td>
          <td>
            <input type="radio" name="radio-question1" id="radio-btn4">
          </td>
          <td>
            <input type="radio" name="radio-question1" id="radio-btn5">
          </td>

        </tr>
        <tr>
          <td>
            <div class="align">
              <span>b.</span>
              <p>There is available financial aid when needed.</p>
            </div>
          </td>
          <td>
            <input type="radio" name="radio-question2" id="radio-btn6" required>
          </td>
          <td>
            <input type="radio" name="radio-question2" id="radio-btn7">
          </td>
          <td>
            <input type="radio" name="radio-question2" id="radio-btn8">
          </td>
          <td>
            <input type="radio" name="radio-question2" id="radio-btn9">
          </td>
          <td>
            <input type="radio" name="radio-question2" id="radio-btn10">
          </td>

        </tr>
        <tr>

          <td>
            <div class="align">
              <span>c.</span>
              <p>Consultation to support my studies is provided.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question3" id="radio-btn11" required>
          </td>
          <td>
            <input type="radio" name="radio-question3" id="radio-btn12">
          </td>
          <td>
            <input type="radio" name="radio-question3" id="radio-btn13">
          </td>
          <td>
            <input type="radio" name="radio-question3" id="radio-btn14">
          </td>
          <td>
            <input type="radio" name="radio-question3" id="radio-btn15">
          </td>

        </tr>
        <tr>
          <td>
            <div class="align">
              <span>d.</span>
              <p>I feel personally safe when inside the campus.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question4" id="radio-btn16" required>
          </td>
          <td>
            <input type="radio" name="radio-question4" id="radio-btn17">
          </td>
          <td>
            <input type="radio" name="radio-question4" id="radio-btn18">
          </td>
          <td>
            <input type="radio" name="radio-question4" id="radio-btn19">
          </td>
          <td>
            <input type="radio" name="radio-question4" id="radio-btn20">
          </td>

        </tr>
        <tr>
          <td>
            <div class="align">
              <span>d.</span>
              <p>Staff are available when needed.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question5" id="radio-btn21" required>
          </td>
          <td>
            <input type="radio" name="radio-question5" id="radio-btn22">
          </td>
          <td>
            <input type="radio" name="radio-question5" id="radio-btn23">
          </td>
          <td>
            <input type="radio" name="radio-question5" id="radio-btn24">
          </td>
          <td>
            <input type="radio" name="radio-question5" id="radio-btn25">
          </td>

        </tr>

      </table>

      <!-- Facilities table -->
      <table class="table table-responsive table-facilities">
        <!-- table header -->
        <thead>
          <tr>
            <th>Facilities</th>
            <th>5</th>
            <th>4</th>
            <th>3</th>
            <th>2</th>
            <th>1</th>
          </tr>
        </thead>

        <!-- table questions -->
        <tr>
          <td>
            <div class="align">
              <span>a.</span>
              <p>Facilities for sports and other recreation are available within the campus.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question6" id="radio-btn26" required>
          </td>
          <td>
            <input type="radio" name="radio-question6" id="radio-btn27">
          </td>
          <td>
            <input type="radio" name="radio-question6" id="radio-btn28">
          </td>
          <td>
            <input type="radio" name="radio-question6" id="radio-btn29">
          </td>
          <td>
            <input type="radio" name="radio-question6" id="radio-btn30">
          </td>

        </tr>
        <tr>
          <td>
            <div class="align">
              <span>b.</span>
              <p>Information Technology is accessible.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question7" id="radio-btn31" required>
          </td>
          <td>
            <input type="radio" name="radio-question7" id="radio-btn32">
          </td>
          <td>
            <input type="radio" name="radio-question7" id="radio-btn33">
          </td>
          <td>
            <input type="radio" name="radio-question7" id="radio-btn34">
          </td>
          <td>
            <input type="radio" name="radio-question7" id="radio-btn35">
          </td>

        </tr>
        <tr>
          <td>
            <div class="align">
              <span>c.</span>
              <p>Library materials are adequate for student's needs.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question8" id="radio-btn36" required>
          </td>
          <td>
            <input type="radio" name="radio-question8" id="radio-btn37">
          </td>
          <td>
            <input type="radio" name="radio-question8" id="radio-btn38">
          </td>
          <td>
            <input type="radio" name="radio-question8" id="radio-btn39">
          </td>
          <td>
            <input type="radio" name="radio-question8" id="radio-btn40">
          </td>

        </tr>
        <tr>
          <td>
            <div class="align">
              <span>d.</span>
              <p>Social facilities like canteen, chapel, organization rooms, etc. are provided within the university.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question9" id="radio-btn41" required>
          </td>
          <td>
            <input type="radio" name="radio-question9" id="radio-btn42">
          </td>
          <td>
            <input type="radio" name="radio-question9" id="radio-btn43">
          </td>
          <td>
            <input type="radio" name="radio-question9" id="radio-btn44">
          </td>
          <td>
            <input type="radio" name="radio-question9" id="radio-btn45">
          </td>

        </tr>

      </table>


      <!-- Personal Development Table -->
      <table class="table table-responsive table-personal">
        <!-- table header -->
        <thead>
          <tr>
            <th>Personal Development</th>
            <th>5</th>
            <th>4</th>
            <th>3</th>
            <th>2</th>
            <th>1</th>
          </tr>
        </thead>
        <!-- table questions -->
        <tr>
          <td>
            <div class="align">
              <span>a.</span>
              <p>Communication Skills are improved.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question10" id="radio-btn46">
          </td>
          <td>
            <input type="radio" name="radio-question10" id="radio-btn47">
          </td>
          <td>
            <input type="radio" name="radio-question10" id="radio-btn48">
          </td>
          <td>
            <input type="radio" name="radio-question10" id="radio-btn49">
          </td>
          <td>
            <input type="radio" name="radio-question10" id="radio-btn50">
          </td>

        </tr>
        <tr>
          <td>
            <div class="align">
              <span>b.</span>
              <p>I gained personal confidence through my university experience.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question11" id="radio-btn51">
          </td>
          <td>
            <input type="radio" name="radio-question11" id="radio-btn52">
          </td>
          <td>
            <input type="radio" name="radio-question11" id="radio-btn53">
          </td>
          <td>
            <input type="radio" name="radio-question11" id="radio-btn54">
          </td>
          <td>
            <input type="radio" name="radio-question11" id="radio-btn55">
          </td>

        </tr>
        <tr>
          <td>
            <div class="align">
              <span>c.</span>
              <p>My stay in the university expand my employment opportunities.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question12" id="radio-btn56">
          </td>
          <td>
            <input type="radio" name="radio-question12" id="radio-btn57">
          </td>
          <td>
            <input type="radio" name="radio-question12" id="radio-btn58">
          </td>
          <td>
            <input type="radio" name="radio-question12" id="radio-btn59">
          </td>
          <td>
            <input type="radio" name="radio-question12" id="radio-btn60">
          </td>

        </tr>
        <tr>
          <td>
            <div class="align">
              <span>d.</span>
              <p>My university experience broaden my perspective.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question13" id="radio-btn61">
          </td>
          <td>
            <input type="radio" name="radio-question13" id="radio-btn62">
          </td>
          <td>
            <input type="radio" name="radio-question13" id="radio-btn63">
          </td>
          <td>
            <input type="radio" name="radio-question13" id="radio-btn64">
          </td>
          <td>
            <input type="radio" name="radio-question13" id="radio-btn65">
          </td>
        </tr>

      </table>
      <input type="submit" value="Next" id="cta-next">
    </form>

    <footer class="footer-p1">
      <span>Created By:</span>
      <p>Matthew A. Alivio</p>
      <p>John Mark M. Cacho</p>
      <p>John Warren C. Dela Peña</p>
      <p>Karl Glenn M. Eludo</p>
      <p>Franz S. Valois</p>
    </footer>
  </div>

  <!-- Jquery and Javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/scripts/form-iterator.js" charset="utf-8"></script>
  <script src="/scripts/Qa.js" charset="utf-8"></script>
  <script src="/scripts/page3.js"></script>
</body>

</html>
