<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/page4.min.css">
</head>

<body>
    <div class="grid-container">
        <header class="flexbox-wrapper">
            <div>
                <img src="../images/pics/logo.png" alt="LPU-PH-LOGO" >
            </div>
            <div class="header-text">
                <H1>LYCEUM OF THE PHILIPPINES</H1>
                <h3>CAVITE CAMPUS</h3>
            </div>
        </header>
        <form action="placeholder.html">
            <!-- Overall Table -->
            <table class="table table-responsive table-overall">
                <!-- table header -->
                <thead>
                    <tr>
                        <th>Overall</th>
                        <th>5</th>
                        <th>4</th>
                        <th>3</th>
                        <th>2</th>
                        <th>1</th>
                    </tr>
                </thead>
                <!-- table questions -->
                <tr>
                    <td>
                        <div class="align">
                            <span>a.</span>
                            <p>Overall, I am satisfied with the quality of the program I am enrolled in.</p>
                        </div>
                    </td>

                    <td>
                        <input type="radio" name="radio" id="radio-btn66">
                    </td>
                    <td>
                        <input type="radio" name="radio" id="radio-btn67">
                    </td>
                    <td>
                        <input type="radio" name="radio" id="radio-btn68">
                    </td>
                    <td>
                        <input type="radio" name="radio" id="radio-btn69">
                    </td>
                    <td>
                        <input type="radio" name="radio" id="radio-btn70">
                    </td>

                </tr>
                <tr>
                    <td>
                        <div class="align">
                            <span>b.</span>
                            <p>Overall, my university experince meet my objectives and expectations.</p>
                        </div>
                    </td>

                    <td>
                        <input type="radio" name="radio" id="radio-btn71">
                    </td>
                    <td>
                        <input type="radio" name="radio" id="radio-btn72">
                    </td>
                    <td>
                        <input type="radio" name="radio" id="radio-btn73">
                    </td>
                    <td>
                        <input type="radio" name="radio" id="radio-btn74">
                    </td>
                    <td>
                        <input type="radio" name="radio" id="radio-btn75">
                    </td>

                </tr>
                <tr>
                    <td>
                        <div class="align">
                            <span>c.</span>
                            <p>I will definitely recommend LPU to my family, relatives and peers.</p>
                        </div>
                    </td>

                    <td>
                        <input type="radio" name="radio" id="radio-btn76">
                    </td>
                    <td>
                        <input type="radio" name="radio" id="radio-btn77">
                    </td>
                    <td>
                        <input type="radio" name="radio" id="radio-btn78">
                    </td>
                    <td>
                        <input type="radio" name="radio" id="radio-btn79">
                    </td>
                    <td>
                        <input type="radio" name="radio" id="radio-btn80">
                    </td>

                </tr>
                <tr>
                    <td>
                        <div class="align">
                            <span>d.</span>
                            <p>Rate the extent of your overall satisfaction with your stay at LPU.</p>
                        </div>
                    </td>

                    <td>
                        <input type="radio" name="radio" id="radio-btn81">
                    </td>
                    <td>
                        <input type="radio" name="radio" id="radio-btn82">
                    </td>
                    <td>
                        <input type="radio" name="radio" id="radio-btn83">
                    </td>
                    <td>
                        <input type="radio" name="radio" id="radio-btn84">
                    </td>
                    <td>
                        <input type="radio" name="radio" id="radio-btn85">
                    </td>
                </tr>
            </table>
            
            <div class="textarea1">
                <label for="textarea1">Feel free to state your comments:</label>
                <textarea id="textarea1" rows="4" cols="50"></textarea>
            </div>
            <div class="textarea2">
                <label for="textarea2">Any Creative suggestions in order to improve University programs and services:</label>
                <textarea id="textarea2" rows="3" ></textarea>
            </div>   
            <input type="button" value="Finish Survey" id="cta-finish">    
        </form>
        <footer class="footer-p1">
            <span>Created By:</span>
            <p>Matthew A. Alivio</p>
            <p>John Mark M. Cacho</p>
            <p>John Warren C. Dela Peña</p>
            <p>Karl Glenn M. Eludo</p>
            <p>Franz S. Valois</p>
        </footer>
    </div>

</body>

</html>