<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/page4.min.css">
</head>

<body>
  <div class="grid-container">
    <header class="flexbox-wrapper">
      <div>
        <img src="/images/pics/logo.png" alt="LPU-PH-LOGO">
      </div>
      <div class="header-text">
        <H1>LYCEUM OF THE PHILIPPINES</H1>
        <h3>CAVITE CAMPUS</h3>
      </div>
    </header>
    <form action="" method="POST">
      <!-- Overall Table -->
      <table class="table table-responsive table-overall">
        <!-- table header -->
        <thead>
          <tr>
            <th>Overall</th>
            <th>5</th>
            <th>4</th>
            <th>3</th>
            <th>2</th>
            <th>1</th>
          </tr>
        </thead>
        <!-- table questions -->
        <tr>
          <td>
            <div class="align">
              <span>a.</span>
              <p>Overall, I am satisfied with the quality of the program I am enrolled in.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question1" id="radio-btn1">
          </td>
          <td>
            <input type="radio" name="radio-question1" id="radio-btn2">
          </td>
          <td>
            <input type="radio" name="radio-question1" id="radio-btn3">
          </td>
          <td>
            <input type="radio" name="radio-question1" id="radio-btn4">
          </td>
          <td>
            <input type="radio" name="radio-question1" id="radio-btn5">
          </td>

        </tr>
        <tr>
          <td>
            <div class="align">
              <span>b.</span>
              <p>Overall, my university experince meet my objectives and expectations.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-quetion2" id="radio-btn6">
          </td>
          <td>
            <input type="radio" name="radio-quetion2" id="radio-btn7">
          </td>
          <td>
            <input type="radio" name="radio-quetion2" id="radio-btn8">
          </td>
          <td>
            <input type="radio" name="radio-quetion2" id="radio-btn9">
          </td>
          <td>
            <input type="radio" name="radio-quetion2" id="radio-btn10">
          </td>

        </tr>
        <tr>
          <td>
            <div class="align">
              <span>c.</span>
              <p>I will definitely recommend LPU to my family, relatives and peers.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question3" id="radio-btn11">
          </td>
          <td>
            <input type="radio" name="radio-question3" id="radio-btn12">
          </td>
          <td>
            <input type="radio" name="radio-question3" id="radio-btn13">
          </td>
          <td>
            <input type="radio" name="radio-question3" id="radio-btn14">
          </td>
          <td>
            <input type="radio" name="radio-question3" id="radio-btn15">
          </td>

        </tr>
        <tr>
          <td>
            <div class="align">
              <span>d.</span>
              <p>Rate the extent of your overall satisfaction with your stay at LPU.</p>
            </div>
          </td>

          <td>
            <input type="radio" name="radio-question4" id="radio-btn16">
          </td>
          <td>
            <input type="radio" name="radio-question4" id="radio-btn17">
          </td>
          <td>
            <input type="radio" name="radio-question4" id="radio-btn18">
          </td>
          <td>
            <input type="radio" name="radio-question4" id="radio-btn19">
          </td>
          <td>
            <input type="radio" name="radio-question4" id="radio-btn20">
          </td>
        </tr>
      </table>

      <div class="textarea1">
        <label for="textarea1">Feel free to state your comments:</label>
        <textarea id="textarea1" rows="4" cols="50"></textarea>
      </div>
      <div class="textarea2">
        <label for="textarea2">Any Creative suggestions in order to improve University programs and services:</label>
        <textarea id="textarea2" rows="3"></textarea>
      </div>
      <input type="submit" value="Finish Survey" id="cta-finish">
    </form>
    <footer class="footer-p1">
      <span>Created By:</span>
      <p>Matthew A. Alivio</p>
      <p>John Mark M. Cacho</p>
      <p>John Warren C. Dela Peña</p>
      <p>Karl Glenn M. Eludo</p>
      <p>Franz S. Valois</p>
    </footer>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/scripts/form-iterator.js" charset="utf-8"></script>
  <script src="/scripts/Qa.js" charset="utf-8"></script>
  <script src="/scripts/page4.js" charset="utf-8"></script>
</body>

</html>
