<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/styles/test.css">
  </head>
  <body>
    <h1>student db test</h1>
    <form class="" action="/test" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" value="" required>
      <label for="gender">Gender</label>
      <select name="gender" required>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
      <label for="course">Course</label>
      <input type="text" name="course" value="" required>
      <label for="contact">Contact</label>
      <input type="tel" name="contact" value="" pattern="09[0-9]{9}" required>
      <label for="nationality">Nationality</label>
      <input type="text" name="nationality" value="" required>
      <label for="email">Email</label>
      <input type="email" name="email" value="" required>
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
