.cta-start, .cta-finish {
  background-color: #8A0E18;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 22px;
  font-size: 14px;
  cursor: pointer;
}

.cta-start {
  border-radius: 100px;
}

.cta-start:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  background-color: #b81320;
}

.cta-finish {
  margin-top: 10px;
  font-size: 16px;
}

.cta-finish:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  background-color: #b81320;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Montserrat;
  background-color: #F8F8F8;
}

body .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(320px, 2.5fr) 1fr;
      grid-template-columns: 1fr minmax(320px, 2.5fr) 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  row-gap: 10%;
}

body .grid-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8A0E18;
  -ms-grid-row: 1;
  grid-row: 1;
  grid-column: 1/-1;
  padding: 10px;
}

body .grid-container header img {
  width: 100px;
  height: 100px;
}

body .grid-container header .header-text {
  margin-left: 30px;
  color: white;
}

body .grid-container header H1 {
  margin: 0px;
}

body .grid-container header H3 {
  margin: 10px 0px 0px 0px;
  font-weight: 600;
}

body .grid-container form {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  padding: 5%;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.footer-landing, .footer-p1 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  grid-column: 1/-1;
  background-color: #2D2626;
  padding: 10px 25px;
}

.footer-landing .school-info-container, .footer-p1 .school-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-landing .school-info-container > div, .footer-p1 .school-info-container > div {
  margin-right: 50px;
}

.footer-landing p, .footer-p1 p {
  font-size: 12px;
  margin: 6px 0;
  color: #707070;
}

.footer-landing h3, .footer-p1 h3 {
  font-size: 14px;
  color: white;
}

.footer-landing .logo-address-container, .footer-p1 .logo-address-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-landing .logo-address-container img, .footer-p1 .logo-address-container img {
  width: 80px;
  margin: 40px 20px 0 0;
}

.footer-landing .extra-info, .footer-p1 .extra-info {
  text-align: center;
}

.footer-landing .extra-info ul, .footer-p1 .extra-info ul {
  margin: auto;
  padding: 0;
  list-style-type: none;
}

.footer-landing .extra-info ul li, .footer-p1 .extra-info ul li {
  display: inline-block;
  padding-right: 15px;
  margin-right: 15px;
  border-right: solid 2px #707070;
}

.footer-landing .extra-info ul li:hover, .footer-p1 .extra-info ul li:hover {
  color: white;
  border-right: solid 2px white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer-landing .extra-info ul a, .footer-p1 .extra-info ul a {
  text-decoration: none;
  color: #707070;
  font-size: 12px;
}

.footer-landing .extra-info ul a:hover, .footer-p1 .extra-info ul a:hover {
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer-landing .social-media-container ul, .footer-p1 .social-media-container ul {
  list-style-type: none;
  padding: 0;
}

.footer-landing .social-media-container ul li, .footer-p1 .social-media-container ul li {
  display: inline-block;
}

.footer-landing .social-media-container ul a img, .footer-p1 .social-media-container ul a img {
  width: 40px;
  color: white;
}

@media only screen and (max-width: 768px) {
  H1 {
    font-size: 25px;
  }
  H3 {
    font-size: 15px;
  }
  .grid-container header img {
    height: 80px;
    width: 80px;
  }
}

@media only screen and (max-width: 515px) {
  H1 {
    font-size: 16px;
  }
  H3 {
    font-size: 12px;
  }
  .grid-container header img {
    height: 50px;
    width: 50px;
  }
}

.grid-container form {
  text-align: left;
}

.grid-container form table {
  width: 100%;
  margin: 5% 0;
  padding: 2%;
  border: solid 2px #8A0E18;
  border-radius: 8px;
}

.grid-container form table th {
  padding: 10px 0;
  text-align: center;
}

.grid-container form table th:first-child {
  text-align: left;
}

.grid-container form table td {
  padding: 3px 0;
}

.grid-container form table span {
  font-weight: bold;
  margin-right: 10px;
}

.grid-container form table .align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0;
  padding: 0;
}

.grid-container form table .align p {
  margin: 6px;
}

form .input-animate {
  position: relative;
}

form .input-animate label {
  position: absolute;
  top: 31px;
  left: 24px;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 14px;
  color: #707070;
}

form select option[value=" "] {
  color: #707070;
}

select,
input[type=text],
input[type=date],
input[type=number],
input[type=email],
input[type=tel] {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px 0;
  padding: 10px 22px;
  border-radius: 3px;
  border: solid 1px rgba(112, 112, 112, 0.4);
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

select:focus,
input[type=text]:focus,
input[type=date]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=tel]:focus {
  border: solid 1px #8A0E18;
}

select:focus ~ label,
select:not(:placeholder-shown) ~ label,
input[type=text]:focus ~ label,
input[type=text]:not(:placeholder-shown) ~ label,
input[type=date]:focus ~ label,
input[type=date]:not(:placeholder-shown) ~ label,
input[type=number]:focus ~ label,
input[type=number]:not(:placeholder-shown) ~ label,
input[type=email]:focus ~ label,
input[type=email]:not(:placeholder-shown) ~ label,
input[type=tel]:focus ~ label,
input[type=tel]:not(:placeholder-shown) ~ label {
  top: -2px;
  left: 0;
  font-size: 12px;
  color: #8A0E18;
  font-weight: bold;
}

.radio-btn {
  float: left;
  margin: 10px 0;
}

.radio-btn label {
  color: #707070;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.radio-btn input[type=radio] {
  -webkit-appearance: none;
}

.radio-btn i {
  font-size: 23px;
}

.radio-btn span {
  font-size: 14px;
}

.radio-btn input[type="radio"]:checked + label {
  color: #8A0E18;
}

form {
  /* new */
  /* Hide all steps by default: */
  /* Make circles that indicate the steps of the form: */
  /* Mark the active step: */
  /* Mark the steps that are finished and valid: */
}

form .table-academic-program {
  margin-top: 0;
}

form .column1, form .column2 {
  text-align: left;
}

form textarea {
  resize: none;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2%;
  margin: 2% 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  border-radius: 3px;
  border: solid 1px #707070;
}

form textarea:focus {
  border: solid 1px #8A0E18;
}

form .textarea1 label, form .textarea2 label {
  font-weight: bold;
}

form .checkbox-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

form input[type=button] {
  padding: 1.5% 8%;
}

form input:not([type="tel"]).invalid {
  background-color: #ffdddd;
}

form .tab {
  display: none;
}

form .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #8A0E18;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

form .step.active {
  opacity: 1;
}

form .step.finish {
  background-color: #8A0E18;
}

.grid-container form {
  padding: 0 3% 3% 3%;
}
/*# sourceMappingURL=page1.css.map */